<ion-view class="plus-bg" >
    <ion-content class="plus-bg " >
      <div class="login-modal-content">

        <div class="login-input-padding">
          <label class="item item-input item-floating-label">
            <span class="input-label">Current Password</span>
              <input type="password" ng-model="credentials.oldPassword" placeholder="Current Password">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">New Password</span>
              <input type="password" ng-model="credentials.newPassword" placeholder="New Password">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Verify Password</span>
              <input type="password" ng-model="credentials.confirmNewPassword" placeholder="New Password">
          </label>

        </div>
        <div class="login-button-padding">
          <button ng-click="passwordCtrl.changePassword(credentials)" class="button button-block button-assertive  "> Change </button>
        </div>
      </div>


    </ion-content>
</ion-view>
