<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900"  align-title="left" animation="nav-title-slide-ios7" >
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
              <button data-ng-show="headerCtrl.isLoggedIn() || $root.isAppPreview" ui-sref="app.features" class="button button-icon button-clear ion-information-circled padding-right"></button>
              <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right" is-enabled="headerCtrl.isLoggedIn() || $root.isAppPreview">
        <ion-header-bar class="dark-bg">

            <h2 class="stable">Ionic Plus</h2>
        </ion-header-bar>
        <ion-content >
            <ion-list >
                <ion-item nav-clear menu-close ui-sref="app.password">
                    Change Password
                </ion-item>
                <ion-item nav-clear menu-close ng-click="headerCtrl.signout()">
                    Log Out
                </ion-item>



            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
